Repository BerlinUnited/logcrawler: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_image, deploy_k8s

.gitlab-ci.yml:

image: docker:latest
services:
 - docker:dind

before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN scm.cms.hu-berlin.de:4567
    # - docker login -u CI_USER -p $CI_USER_TOKEN scm.cms.hu-berlin.de:4567
    - export KUBECONFIG=$KUBECONFIG_FILE

variables:
    # https://about.gitlab.com/blog/2019/07/31/docker-in-docker-with-docker-19-dot-03/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    DOCKER_IMAGE: scm.cms.hu-berlin.de:4567/berlinunited/projects/log-crawler

build_image:
  rules:
    - changes: 
      - Dockerfile
      - main.py
      - requirements.txt
  script:
    - docker build -f Dockerfile -t $DOCKER_IMAGE:latest .
    - docker push $DOCKER_IMAGE:latest

deploy_k8s:
  image: bitnami/kubectl:1.28.2
  rules:
    - changes: 
      - main.py
  script:
    - kubectl create configmap logcrawler --from-file=main.py -n default

cleanup
  .gitlab-ci.yml
Due: none

actual deploy stuff
  .gitlab-ci.yml
Due: none

try to fix ci
  .gitlab-ci.yml
Due: none

another fix
  .gitlab-ci.yml
Due: none

and yet another fix
  .gitlab-ci.yml
Due: none

more fixes
  .gitlab-ci.yml
  log_crawler.yaml
Due: none

trying to fix weird problems
  Dockerfile
  README.md
  log_crawler.yaml
  main.py
Due: build_image, deploy_k8s

mmmmm
  .gitlab-ci.yml
Due: none

asdasdasdffg
  Dockerfile
Due: build_image

uhhhhh
  Dockerfile
  log_crawler.yaml
Due: build_image

stuff
  .gitlab-ci.yml
  Dockerfile
  README.md
  Tiltfile
  kubernetes.yaml
  main.py
  requirements.txt
Due: build_image, deploy_k8s

always recreate tables on pod starting
  main.py
Due: build_image, deploy_k8s

add more fields to game table
  main.py
Due: build_image, deploy_k8s

improve the db code a bit
  main.py
Due: build_image, deploy_k8s

add function that gets all the representation names and creates a table for it
  README.md
  main.py
  requirements.txt
Due: build_image, deploy_k8s

we can now parse logs, but inserting them in db still needs work
  main.py
Due: build_image, deploy_k8s

update log-crawler image - add minio to python packages - push to group registry
  .gitlab-ci.yml
  README.md
  requirements.txt
Due: build_image

update log-crawler image - add minio to python packages
  README.md
  requirements.txt
Due: build_image

update log-crawler image - add minio to python packages
  .gitlab-ci.yml
Due: none

improve image
  Dockerfile
  requirements.txt
Due: build_image

add pillow to requirements
  requirements.txt
Due: build_image

fix protobuf version for parsing logs
  requirements.txt
Due: build_image

add code for extracting images
  image_extractor/main.py
Due: none

add code for extracting images
  Dockerfile
  image_extractor/main.py
Due: build_image

add more scripts for log handling
  Dockerfile
  image_extractor/main.py
  labelstudio_importer/main.py
Due: build_image

make names of images fixed length strings
  image_extractor/main.py
Due: none

improve creating label studio projects
  image_extractor/main.py
  labelstudio_importer/main.py
Due: none

first example for querying logs based on time
  db_ingester/main.py
Due: none

add functions that go through all log folders and extracts information
  Dockerfile
  check_images/main.py
  combine_images/main.py
  db_ingester/.gitignore
  db_ingester/event_list.py
  db_ingester/main.py
  image_extractor/main.py
  labelstudio_importer/main.py
  representation_exporter/README.md
  representation_exporter/main.py
Due: build_image

fix some issues with the log scripts
  check_images/main.py
  combine_images/main.py
  db_ingester/main.py
  image_extractor/main.py
  representation_exporter/main.py
Due: none

add functionality for uploading data to buckets
  Dockerfile
  db_ingester/main.py
  image_extractor/main.py
  minio_importer/main.py
Due: build_image

small improvements
  db_ingester/main.py
  minio_importer/main.py
Due: none

first working version of labelstudio importer
  labelstudio_importer/main.py
  minio_importer/main.py
Due: none

improve project creation in labelstudio -> now automatic sync works
  labelstudio_importer/main.py
Due: none

code for testing - will be removed later
  .vscode/settings.json
  do_everything.sh
  scripts/.gitignore
  scripts/log_debugger.py
  scripts/minio_helpers.py
  scripts/select_example.py
Due: none

improve labelstudio importer
  do_everything.sh
  labelstudio_importer/main.py
Due: none

use image with naoth already built
  Dockerfile
Due: build_image

add first draft of patch exporter
  Dockerfile
  patch_exporter/PatchExecutor.py
  patch_exporter/cppyy_tools.py
  patch_exporter/main.py
  requirements.txt
Due: build_image

cleanup
  labelstudio_importer/main.py
Due: none

run patch exporter based on postgres query
  README.md
  patch_exporter/PatchExecutor.py
  patch_exporter/helper.py
  patch_exporter/main.py
Due: none
